@model Logo
<div>
    <div>
        <p>Id:</p>
        <p>@Model.Id</p>
    </div>
    <div>
        <p>Image:</p>
        <img src="~/assets/img/@Model.Image" />
    </div>
    <form>
        <button class="btn btn-lg btn-dark" type="submit" asp-controller="logo" asp-action="index">back to index</button>
    </form>
</div>