* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Krub", sans-serif;
}

a {
  text-decoration: none;
}

.top .gotopbtn {
  position: fixed;
  opacity: 0;
  pointer-events: none;
  z-index: 99;
}
.top .gotopbtn i {
  padding: 20px;
  background-color: #2D405F;
  color: #fff;
}
.top .gotopbtn.active {
  opacity: 1;
  bottom: 32px;
  pointer-events: auto;
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}
header nav .menu {
  background-color: #F6F7FF;
  box-shadow: inset 1px 0px 2px 2px #ccc;
}
header nav .container .row {
  height: 80px;
}
header nav .container .row .nav-logo h1 a {
  color: #444;
  font-weight: bold;
}
header nav .container .row .nav-menu .bar a i {
  display: none;
  color: #000;
  font-size: 20px;
}
header nav .container .row .nav-menu ul li a {
  color: #444;
  font-size: 14px;
  font-weight: bold;
}
header nav .container .row .nav-menu ul li a.active {
  color: #3B4EF8;
}
header nav .container .row .nav-menu ul li a.btn {
  padding: 10px 30px;
  background-color: rgb(231, 229, 229);
  color: #3B4EF8;
  transition: 0.3s ease-in;
}
header nav .container .row .nav-menu ul li a.btn:hover {
  background-color: #3B4EF8;
  color: #FFFFFF;
}
header nav .container .row .nav-menu ul li a i {
  font-size: 12px;
}
header nav .container .row .nav-menu ul li.dropdown {
  position: relative;
}
header nav .container .row .nav-menu ul li.dropdown .downmenu {
  position: absolute;
  background-color: #F6F7FF;
  left: -10px;
  width: 180px;
  border-radius: 5px;
  transform: translateY(40px);
  opacity: 0;
  visibility: hidden;
  box-shadow: 1px 1px 8px 3px #ccc;
  transition: 0.3s ease-in;
}
    header nav .container .row .nav-menu ul li.dropmenu {
        position: relative;
    }

        header nav .container .row .nav-menu ul li.dropmenu .downmenu {
            position: absolute;
            background-color: #F6F7FF;
            left: -10px;
            width: 100px;
            border-radius: 5px;
            transform: translateY(20px);
            opacity: 0;
            visibility: hidden;
            box-shadow: 1px 1px 8px 3px #ccc;
            transition: 0.3s ease-in;
        }
            header nav .container .row .nav-menu ul li.dropmenu .downmenu li{
                padding:5px;
            }
            header nav .container .row .nav-menu ul li.dropmenu:hover .downmenu {
                opacity: 1;
                visibility: visible;
                transform: translateY(10px);
            }
header nav .container .row .nav-menu ul li.dropdown .downmenu .dripdown {
  position: relative;
}
header nav .container .row .nav-menu ul li.dropdown .downmenu .dripdown .dripmenu {
  position: absolute;
  background-color: #F6F7FF;
  width: 180px;
  border-radius: 5px;
  top: 0;
  transform: translatex(100px);
  opacity: 0;
  visibility: hidden;
  box-shadow: 1px 1px 8px 3px #ccc;
  transition: 0.3s ease-in;
}
header nav .container .row .nav-menu ul li.dropdown .downmenu .dripdown:hover .dripmenu {
  opacity: 1;
  visibility: visible;
  transform: translateX(140px);
}
header nav .container .row .nav-menu ul li.dropdown .downmenu li {
  padding: 10px 10px;
}
header nav .container .row .nav-menu ul li.dropdown .downmenu li a {
  transition: 0.3s ease-in;
}
header nav .container .row .nav-menu ul li.dropdown .downmenu li a i {
  font-size: 12px;
  margin-left: 10px;
}
header nav .container .row .nav-menu ul li.dropdown .downmenu li a:hover {
  color: #3B4EF8;
}
header nav .container .row .nav-menu ul li.dropdown:hover .downmenu {
  visibility: visible;
  opacity: 1;
  transform: translateY(15px);
}
header nav .navbar {
  position: relative;
  background-color: rgb(252, 249, 249);
  margin: 30px;
  display: none;
  border-radius: 10px;
}
header nav .navbar .close {
  position: absolute;
  top: 15px;
  right: 25px;
}
header nav .navbar .close i {
  font-size: 25px;
  cursor: pointer;
}
header nav .navbar ul li {
  padding: 10px 15px;
}
header nav .navbar ul li a {
  color: #444;
  font-weight: bold;
  transition: 0.3s ease-in;
}
header nav .navbar ul li a:hover {
  color: #3B4EF8;
}
header nav .navbar ul li .btn {
  padding: 10px 30px;
  background-color: #FFFFFF;
  color: #444;
  transition: 0.3s ease-in;
}
header nav .navbar ul li .btn:hover {
  background-color: #3B4EF8;
  color: #FFFFFF;
}

main {
  position: relative;
  top: 100px;
}
main #bikin .container .bikin .img img {
  width: 70%;
}
main #bikin .container .bikin .title h2 {
  font-size: 48px;
  color: #2D405F;
  font-weight: bold;
}
main #bikin .container .bikin .title p {
  font-size: 25px;
  color: #2D405F;
  font-weight: bold;
}
main #bikin .container .bikin .title .btn a {
  padding: 10px 35px;
  background-color: #3B4EF8;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s ease-in;
}
main #bikin .container .bikin .title .btn a:hover {
  background-color: #091583;
  color: #FFFFFF;
}
main #about {
  background-color: #466393;
  padding: 80px 0;
}
main #about .container .row .content h3 {
  color: #fff;
  font-size: 38px;
  font-weight: bold;
}
main #about .container .row .content p {
  color: #fff;
  margin: 10px 0;
  font-weight: 500;
  opacity: 0.8;
}
main #about .container .row .content a {
  color: #fff;
  margin: 15px 0;
  display: inline-block;
  padding: 10px 35px;
  background-color: #4F6B98;
  border-radius: 25px;
  font-size: 14px;
  transition: 0.3s ease-in;
}
main #about .container .row .content a:hover {
  background-color: #7294cb;
}
main #about .container .row .content a i {
  font-size: 12px;
  margin-left: 5px;
}
main #about .container .row .box-item .icon {
  margin: 15px 0;
}
main #about .container .row .box-item .icon i {
  font-size: 35px;
  color: #fff;
  opacity: 0.5;
}
main #about .container .row .box-item span {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
}
main #about .container .row .box-item p {
  color: #fff;
  font-weight: 400;
  font-size: 15px;
  opacity: 0.7;
}

#brand {
  padding: 30px 0;
  background-color: #F6F7FF;
}
#brand .container .row .img {
  width: 100%;
}
#brand .container .row .img img {
  width: 50%;
}

#service {
  padding: 50px 0;
  background-color: #2D405F;
}
#service .title {
  margin-bottom: 15px;
}
#service .title h2 {
  color: #fff;
  font-weight: bold;
  font-size: 40px;
  display: inline-block;
  position: relative;
  margin-bottom: 25px;
}
#service .title h2::before {
  position: absolute;
  content: "";
  background-color: #A2B1C9;
  opacity: 0.6;
  width: 50px;
  height: 3px;
  bottom: -10px;
  left: 50px;
}
#service .title p {
  color: #fff;
  font-weight: 400;
}
#service .row .cart-item {
  background-color: #fff;
  padding: 30px 20px;
  border-radius: 5px;
  transform: scale(1);
  transition: 0.3s ease-in;
  margin: 20px 0;
}
#service .row .cart-item .icon {
  margin: 10px 0;
}
#service .row .cart-item .icon i {
  color: #2D405F;
  font-size: 25px;
  padding: 25px;
  background-color: #EFF2F8;
  border-radius: 50%;
}
#service .row .cart-item p {
  color: #2D405F;
}
#service .row .cart-item h3 {
  color: #2D405F;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
#service .row .cart-item:hover {
  transform: scale(1.1);
}

#contact {
  background-color: #F6F8FB;
  padding: 50px 0;
}
#contact .container .title {
  margin-bottom: 15px;
}
#contact .container .title h2 {
  color: #2D405F;
  font-weight: bold;
  font-size: 40px;
  display: inline-block;
  position: relative;
  margin-bottom: 25px;
}
#contact .container .title h2::before {
  position: absolute;
  content: "";
  background-color: #2D405F;
  opacity: 0.6;
  width: 50px;
  height: 3px;
  bottom: -10px;
  left: 50px;
}
#contact .container .title p {
  color: #2D405F;
  font-weight: 400;
}
#contact .container .row .info .icon i {
  color: #3B4EF8;
  font-size: 25px;
}
#contact .container .row .info span {
  color: #A5A5A5;
  font-weight: bold;
}
#contact .container .row .info .location {
  padding: 30px;
  background-color: #fff;
  margin-bottom: 24px;
  box-shadow: -1px 0px 7px 0px #ccc;
}
#contact .container .row .info .letter {
  background-color: #fff;
  padding: 30px;
  box-shadow: -1px 0px 7px 0px #ccc;
}
#contact .container .row .info .call {
  background-color: #fff;
  padding: 30px;
  box-shadow: -1px 0px 7px 0px #ccc;
}
#contact .container .row form {
  background-color: #fff;
  padding: 33px 10px;
  box-shadow: -1px 0px 7px 0px #ccc;
}
#contact .container .row form div input {
  width: 100%;
  margin-bottom: 10px;
}
#contact .container .row form div textarea {
  width: 100%;
  margin-bottom: 15px;
}

footer .top-footer {
  padding: 50px 0;
}
footer .top-footer .container .row .bikin h3 {
  color: #2D405F;
  font-weight: bold;
}
footer .top-footer .container .row .bikin p {
  color: #444;
  font-weight: bold;
}
footer .top-footer .container .row .bikin ul li {
  color: #2D405F;
}
footer .top-footer .container .row .useful h3 {
  color: #2D405F;
  font-weight: bold;
  font-size: 16px;
}
footer .top-footer .container .row .useful ul li a {
  color: #000;
  font-size: 14px;
}
footer .top-footer .container .row .useful ul li a i {
  font-size: 12px;
  margin: 0 5px;
  color: #091583;
}
footer .top-footer .container .row .service h3 {
  color: #2D405F;
  font-weight: bold;
  font-size: 16px;
}
footer .top-footer .container .row .service ul li a {
  color: #000;
  font-size: 14px;
}
footer .top-footer .container .row .service ul li a i {
  font-size: 12px;
  margin: 0 5px;
  color: #091583;
}
footer .top-footer .container .row .join h3 {
  color: #2D405F;
  font-weight: bold;
  font-size: 16px;
}
footer .top-footer .container .row .join p {
  color: #444;
  font-size: 14px;
}
footer .top-footer .container .row .join form input {
  padding: 10px 5px;
  border: none;
  border: 1px solid #3B4EF8;
  border-end-start-radius: 10px;
  border-start-start-radius: 10px;
}
footer .top-footer .container .row .join form button {
  padding: 10px 5px;
  border: 1px solid #3B4EF8;
  background-color: #3B4EF8;
  color: #fff;
  border-start-end-radius: 10px;
  border-end-end-radius: 10px;
}
footer .bottom-footer {
  padding: 30px 0;
  background-color: #F6F8FB;
}
footer .bottom-footer ul li a i {
  background-color: #E7EAFE;
  color: #091583;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease-in;
  font-size: 14px;
}
footer .bottom-footer ul li a i:hover {
  color: #fff;
  background-color: #091583;
}

@media (min-width: 992px) and (max-width: 1200px) {
  .navbar {
    display: none !important;
  }

  .bar a i {
    display: none !important;
  }

  #bikin .title h2 {
    font-size: 25px !important;
  }
  #bikin .title p {
    font-size: 16px !important;
  }

  #about .content h3 {
    font-size: 20px !important;
  }
}
@media (min-width: 0px) and (max-width: 992px) {
  nav .nav-menu ul {
    display: none !important;
  }

  .bar a i {
    display: block !important;
  }

  #bikin .title h2 {
    font-size: 25px !important;
  }
  #bikin .title p {
    font-size: 16px !important;
  }

  #about .content h3 {
    font-size: 20px !important;
  }
}
@media (max-width: 576px) {
  .bottom-footer .row p {
    text-align: center !important;
  }
  .bottom-footer .row ul {
    justify-content: center !important;
  }
}/*# sourceMappingURL=style.css.map */